main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenedores{
    max-width: 80%;
    height: auto;
    background-color: #379FA5;
    border-radius: 15px;
    margin: 30px;
    padding: 25px;
    display: flex; 
    flex-direction: column;
}

.contenedores iframe{
    max-width: 100%;
    height: 250px;
    border-radius: 10px;
    
}

.contenedores h2{
    font-size: 35px;
    color: white;
    text-align: center;
}

.contenedores p{
    font-size: 25px;
    color: white;
    text-align: left;
}

.contenedores button{
    padding: 10px;
    background-color: #8ED1D5;
    border: none;
    border-radius: 5px;
    margin-top: 10px; 
    cursor: pointer;
    float: right;
}

.contenedores button:hover {
    background-color: #6BA8B1; 
    transform: scale(1.1);
}


@media (min-width: 1024px){
    .contenedores{
        display: flex;
        flex-direction: row;
        gap: 25PX;
        align-items: center; 
    }
}

























































