

#openModal {
  padding: 10px 20px; /* Añade espacio dentro del botón: 10px arriba y abajo, 20px a los lados. */
  font-size: 16px; /* Establece el tamaño de fuente en 16 píxeles. */
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón, indicando que es clickeable. */
} /* Estilos del Modal */
.modal {
  display: none; /* Oculta el modal por defecto. */
  position: fixed; /* Fija el modal en la pantalla, evitando que se desplace con el contenido. */
  top: 0; /* Coloca el modal en la parte superior de la ventana. */
  left: 0; /* Coloca el modal en el lado izquierdo de la ventana. */
  width: 100%; /* Hace que el modal ocupe todo el ancho de la ventana. */
  height: 100%; /* Hace que el modal ocupe toda la altura de la ventana. */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo negro semi-transparente para crear un efecto de superposición. */
  justify-content: center; /* Centra el contenido del modal horizontalmente. */
  align-items: center; /* Centra el contenido del modal verticalmente. */
  z-index: 10; /* Asegura que el modal esté por encima de otros elementos (con un z-index más bajo). */
}
.modal-content {
  position: relative; /* Permite que los elementos dentro del modal se posicionen relativos a este. */
  background-color: #35a6a6; /* Establece un color de fondo turquesa para el contenido del modal. */
  width: 90%; /* Hace que el contenido ocupe el 90% del ancho del modal. */
  max-width: 1200px; /* Limita el ancho máximo a 600 píxeles. */
  padding: 20px; /* Añade un espacio interno de 20 píxeles alrededor del contenido. */
  border-radius: 10px; /* Redondea las esquinas del contenido del modal. */
  text-align: center; /* Centra el texto dentro del contenido del modal. */
  color: white; /* Establece el color del texto en blanco. */
}

.modal img {
  display: none;

}


.close-btn {
  position: absolute; /* Posiciona el botón de cerrar absolutamente dentro del modal. */
  top: 10px; /* Coloca el botón 10 píxeles desde la parte superior del modal. */
  right: 10px; /* Coloca el botón 10 píxeles desde el lado derecho del modal. */
  font-size: 24px; /* Establece el tamaño de fuente del botón de cerrar en 24 píxeles. */
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón, indicando que es clickeable. */
  color: white; /* Establece el color del texto del botón de cerrar en blanco. */
}
h2 {
  font-size: 24px; /* Establece el tamaño de fuente de los encabezados h2 en 24 píxeles. */
  margin: 0 0 20px; /* Elimina el margen superior e inferior, pero añade un margen inferior de 20 píxeles. */
}
.piano-container {
  background-color: #ccc; /* Establece un color de fondo gris claro para el contenedor del piano. */
  height: 400px; /* Establece la altura del contenedor del piano en 150 píxeles. */
  margin: 0 auto 20px; /* Centra el contenedor y añade un margen inferior de 20 píxeles. */
  border-radius: 5px; /* Redondea las esquinas del contenedor del piano. */
}
.piano-placeholder {
  line-height: 150px; /* Establece la altura de línea para centrar verticalmente el texto dentro del contenedor del piano. */
  color: #777; /* Establece el color del texto en un gris más oscuro. */
} /* Responsive Design - Versión en Vertical (portrait) */
@media (orientation: portrait) {
  .modal-content {
    width: 90%; /* Mantiene el ancho del contenido del modal en 90% para dispositivos en modo vertical. */
    max-width: 600px; /* Limita el ancho máximo a 600 píxeles. */
  }
  .piano-container {
    height: 150px; /* Mantiene la altura del contenedor del piano en 150 píxeles. */
  }
} /* Responsive Design - Versión en Horizontal (landscape) para móviles y tablets */
@media (orientation: landscape) and (max-width: 1024px) {
  .modal-content {
    width: 70%; /* Reduce el ancho del contenido del modal al 70% para dispositivos en modo horizontal. */
    max-width: 800px; /* Aumenta el ancho máximo a 800 píxeles. */
  }
  .piano-container {
    height: 100px; /* Reduce la altura del contenedor del piano a 100 píxeles. */
  }


  h2 {
    font-size: 18px; /* Reduce el tamaño de fuente del encabezado h2 a 18 píxeles. */
  }
} /* Ajustes adicionales para pantallas pequeñas (móvil) */
@media (max-width: 764px) {
  .modal-content {
    width: 90%; /* Mantiene el ancho del contenido del modal en 90% para pantallas pequeñas. */
  }
  .modal img {
    display: block;
    width: 50px;
    margin-top: -145px;
    margin-left: 150px;
  }
   
  .piano-container {
    height: 120px; /* Aumenta la altura del contenedor del piano a 120 píxeles. */
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 20px; /* Reduce el tamaño de fuente del encabezado h2 a 20 píxeles para pantallas muy pequeñas. */
  }
  .piano-container {
    height: 100px; /* Reduce la altura del contenedor del piano a 100 píxeles. */
  }
}


@media (max-width: 899px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
    padding: 0;
    margin: 0;
  }



  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    text-align: center;
  }
  .container > h1 {
    font-size: 60px;
    color: #333637;
    margin-bottom: 20px;
  }
  .piano-container {
    display: flex;
    justify-content: center;
    padding: 4em 1em 1em 1em;
    border-radius: 0.62em;
    background-color: transparent;
    box-shadow: 0 2em 4em rgba(7, 0, 53, 0.25);
    position: relative;
    margin-top: -150px;
  }




  .white-key {
    width: 4.37em;
    height: 17.5em;
    background-color: #ffffff;
    border-radius: 0 0 0.3em 0.3em;
    border: 2px solid #24272e;
    box-sizing: border-box;
    cursor: pointer;
  }
  .white-key:hover {
    background-color: #ebebeb;
  }
  .black-key {
    width: 2.5em;
    height: 10em;
    border-radius: 0 0 0.3em 0.3em;
    box-sizing: border-box;
    position: absolute;
    background-color: #070a0f;
    cursor: pointer;
  }
  .black-key:hover {
    background-color: #24272e;
  }
  .black-key:nth-child(1) {
    left: 3em;
  }
  .black-key:nth-child(2) {
    left: 6.5em;
  }
  .black-key:nth-child(3) {
    left: 13.3em;
  }
  .black-key:nth-child(4) {
    left: 16.7em;
  }
  .black-key:nth-child(5) {
    left: 20em;
  }
  .black-key:nth-child(6) {
    left: 26.7em;
  }
  .black-key:nth-child(7) {
    left: 30em;
  }
  .black-key:nth-child(8) {
    left: 36.8em;
  }
  .black-key:nth-child(9) {
    left: 40.3em;
  }
  .black-key:nth-child(10) {
    left: 43.5em;
  }
  .key-active {
    background-color: #ebebeb;
    transition: background-color 0.1s;
  }
  @media screen and (max-width: 1000px) {
    .piano-container {
      font-size: 0.7em;
    }
  }
  @media screen and (max-width: 700px) {
    .piano-container {
      font-size: 0.5em;
    }
  }
  @media screen and (max-width: 500px) {
    .piano-container {
      font-size: 0.3em;
    }
  }
}


@media (min-width: 900px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    text-align: center;

  }
  .container > h1 {
    font-size: 60px;
    color: #333637;
    margin-bottom: 20px;
  }
  .piano-container {
    display: flex;
    justify-content: center;
    padding: 4em 1em 1em 1em;
    border-radius: 0.62em;
    background-color: transparent;
    box-shadow: 0 2em 4em rgba(7, 0, 53, 0.25);
    position: relative;
  }
  .white-key {
    width: 4.37em;
    height: 17.5em;
    background-color: #ffffff;
    border-radius: 0 0 0.3em 0.3em;
    border: 2px solid #24272e;
    box-sizing: border-box;
    cursor: pointer;
  }
  .white-key:hover {
    background-color: #ebebeb;
  }
  .black-key {
    width: 2.5em;
    height: 10em;
    border-radius: 0 0 0.3em 0.3em;
    box-sizing: border-box;
    position: absolute;
    background-color: #070a0f;
    cursor: pointer;
  }
  .black-key:hover {
    background-color: #24272e;
  }
  .black-key:nth-child(1) {
    left: 4em;
  }
  .black-key:nth-child(2) {
    left: 8.37em;
  }
  .black-key:nth-child(3) {
    left: 17.12em;
  }
  .black-key:nth-child(4) {
    left: 21.5em;
  }
  .black-key:nth-child(5) {
    left: 25.87em;
  }
  .black-key:nth-child(6) {
    left: 34.62em;
  }
  .black-key:nth-child(7) {
    left: 39em;
  }
  .black-key:nth-child(8) {
    left: 47.75em;
  }
  .black-key:nth-child(9) {
    left: 52.12em;
  }
  .black-key:nth-child(10) {
    left: 56.5em;
  }
  .key-active {
    background-color: #ebebeb;
    transition: background-color 0.1s;
  }
  @media screen and (max-width: 1000px) {
    .piano-container {
      font-size: 0.7em;
    }
  }
  @media screen and (max-width: 700px) {
    .piano-container {
      font-size: 0.5em;
    }
  }
  @media screen and (max-width: 500px) {
    .piano-container {
      font-size: 0.3em;
    }
  }
}
