body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*---------------este es el navegador--------------------------*/
p{
    font-family: 'Lato';
}
h1, h2, h3, h4, h5{
    font-family: "Neucha";
}
a{
    font-family: "Neucha";
}
.contenedor{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
    height: 65px;
    margin-bottom: 0;
}
#logo{
    width: 200px;
    height:auto;
    /* height: 300px; */
    /* margin-top: -73px; */
}
.nav-list{
    margin-top: 10px;
    /* margin-left: -1000px; */
    gap: 9rem;
    list-style-type: none;
    display: flex;
    font-size: 35px;
    margin-top: -5px;
}



/* .nav-list a{
  font-size: 50px;
  margin-left: 140px;
  margin-top: -28px;
  width: 100%;
} */
.nav-list li a{
     text-decoration: none;
     color: #65D5DB;
}
.abrir-menu{
    display: none;
}
#cerrar{
    display: none;
}
footer{
    background-color:#8ED1D5;
    width: 100%;
    color: white;
}
.parrafo-footer{
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}
.iconos-mover{
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 3rem;
}
@media (max-width: 768px){
    .nav-list{
        list-style-type: none;
        display: flex;
        gap: 3rem;
        font-size: 25px;
    }
     .abrir-menu{
        display: block;
        background-color: black;
        border: black;
        margin-left: -75px;
     }
     #logo{
        width: 250px;
        height: 34px;
        margin-top: 0;
        margin-left: -17px;
    }
     .abrir-menu img {
        width: 30px;
     }
     #cerrar{
        display: block;
        background-color: black;
        border: black;
    }
    #cerrar img {
        width: 30px;
    }
     .nav{
        opacity: 0;
        visibility: hidden;
     }
     .nav div{
        background-color: black;
        width: 270px;
     }
     .nav #cerrar{
        margin-left: 200px;
         margin-bottom: 50px;
         margin-top: 10px;
     }
    .nav{
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, .5);
        display: flex;
        z-index: 990;
        margin-left: -410px;
        transform: translate(7%,-25%) ;
        opacity: visible;
    }
    .nav.visible {
        opacity: 1000;
        visibility: visible;
    }
    .nav-list{
         flex-direction: column;
         margin-bottom: 730px;
    }
    .imagen-debajo img{
        z-index: 0;
    }
}

    /* .contenedor{
        height: 100px;
    } */
    .a1{
    }
    .a2{
    }
    .a3{
    }

